@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chinese Crested Dog</h1>
    <p>World pedigree database <a href="https://localhost:7091/">Hem</a>.</p>
</div>

